<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Tabbar假跳.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>32228A361CA4031C0097E644</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>32228A4F1CA4031C0097E644</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>32228A5A1CA4031C0097E644</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
